### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*


### Python ###
__pycache__/
*.py[cod]


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py


### App ###
/static/